@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.main-div {
  max-width: 600px;
  margin: 50px auto;
}
.main-div h3 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.img-icon {
  height: 30px;
  width: 30px;
  margin-right: 20px;
}
input {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
.image-box-one {
  position: relative;
  width: 100%;
  height: 300px;
}
.image-box-two {
  position: relative;
  width: 100%;
  height: 300px;
}
.meme-img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.text-box-one {
  width: 45%;
  padding: 5px;
  right: 10px;
  top: 30%;
}
.text-box-two {
  width: 45%;
  padding: 5px;
  left: 30%;
  top: 10px;
}
.meme-text-box {
  font-size: 20px;
  letter-spacing: 0.7px;
  position: absolute;
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.another-one-btn{
  background-color: rgb(200, 33, 33);
  color: #ffffff;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 10px;
  width:100%;
  height: 60px;
  cursor: pointer;
}
